<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div
        data-controller="symfony--ux-svelte--svelte"
        data-symfony--ux-svelte--svelte-component-value="TodoList"
        data-symfony--ux-svelte--svelte-props-value="{{ {'actions': actions}|json_encode|e('html_attr') }}">
    </div>

    {{ encore_entry_script_tags('app') }}
</body>
</html>
